<!DOCTYPE html>
<html lang="en">
<head>
  <title>GPTranslate</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_stylesheet_tag "tailwind", "data-turbo-track": "reload" %>
  <%= vite_client_tag %>
  <%= vite_javascript_tag 'application' %>
  <%= vite_javascript_tag 'translations' %>
</head>

<body class="h-full">
  <main
    id='translations'
    class="flex h-screen"
    data-current-user="<%= camelize_keys(current_or_guest_user.as_json).to_json %>"
    data-languages='<%= Translation::LANGUAGES.to_json %>'
  ></main>
</body>
</html>
